

<body style="font-size:20px; padding:50px;">
  <%  include ./partials/_header %>
 
  <a href="/urls/new">Create New TinyURL</a>
  <br />
  <ul>
  <% for (var item in urls) { %>

    <li><%= item %> - <a href = '<%= urls[item] %>'><%=urls[item]%></a>       
      <div class="form-group mb-2">
        <form method="GET" action="/urls/<%= item %>">
          <button type="submit" value="Edit" class="btn btn-primary" name="Edit">Edit</button> 
        </form><form method="POST" action="/urls/<%= item %>/delete"> 
          <button type="submit" value="Delete" class="btn btn-primary">Delete</button></form>
      </div>
    </li>
<% }; %>
</ul>
</body>
</html>